<?xml version="1.0"?>
<configuration>	
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AGeeksToy.Properties.Settings.BetfairConnectionString1" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\BetfairLive.mdb;Persist Security Info=True" providerName="System.Data.OleDb"/>
    </connectionStrings>
      <appSettings>
 <add key="ProxyServer" value="http://80.175.3.25:26130"/>
        <add key="ProxyUserName" value="adminip"/>
        <add key="ProxyPassword" value="J521Osnam$"/>
        <add key="UseProxyDomain" value="False"/>
      </appSettings>	
	<system.net>
    <defaultProxy enabled="true" useDefaultCredentials="false">
      <module type="Geek.Utils.WebProxy.CustomWebProxy, Geek.Utils.WebProxy"/>
    </defaultProxy>
		<connectionManagement>
			<add address="*" maxconnection="20"/>
		</connectionManagement>
				<settings>
					<servicePointManager expect100Continue="false" useNagleAlgorithm="false"/>
				</settings>
			
	</system.net>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
